.infoSanitaire {
    background-color: #EDEDED;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.blocBanner {
    width:100%;
    height: 50%;
    text-align: center;
}
.banner {
    width: 100%;
}
.blocBannerSearch {
    margin: 0 10vh;
    border-radius:15px;
    padding:0;
}
.choice {
    padding: 10px;
    text-align: center;
    border: 0;
    margin: 0;
}
.reservationDate {
    padding: 7px 10px;
    border: 0;
}
.logoSearch {
    padding: 11px;
    background-color: #BE6553;
    border: 0;
}
.logoSearch i {
    color: white;
    font-size:1.5vh;
}