.formContainer {
    height: 170vh;
    display: flex;
    
}

.formContent {
    align-items: center;
    position: absolute;
    top: 30%;
    left: 25%;
    height: 50vh;
    width: 60%;
    padding: 20px;
}
.formContainer img {
    width: 70%;
    height: 60%;
    margin: 0 auto;
    padding-top: 20px;
}
.formItems {
    display: flex;
    padding: 2px;
}




