.SearchCardLink {
  color: var(--primary-color);
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

.SearchCard {
  width: 60vw;
  min-height: 25vh;
  margin: 20px;
  padding: 20px;
  background: url('../../assets/parchemin2.jpg') center / cover;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
}

.SearchCard .info-trajet-info {
  display: flex;
  flex-direction: row;
}

.SearchCard .info-trajet-time-info {
  display: flex;
  flex-direction: column;
  width: 10vw;
}

.SearchCard .info-trajet-adress {
  display: flex;
  flex-direction: column;
}